:root {
  --eld-body-1: #0e0e11;
  --eld-base-1: #1e1f28;
  --eld-base-2: #323141;
  --eld-alt-1: #282836;
  --eld-alt-2: #434252;
  --eld-divider: #2a2a37;
  --eld-text-primary: #ffffff;
  --eld-text-secondary: #a8aab3;
  --eld-text-link: #4783ff;
  --eld-yellow-1: #ffc950;
  --eld-yellow-2: #fea900;
  --eld-yellow-3: #ff8d00;
  --eld-marine: #4783ff;
  --eld-emerald: #00e4c9;
  --eld-shadow-1: 0 2px 4px rgba(9, 9, 11, 0.05), 0 12px 8px rgba(9, 9, 11, 0.02);
  --eld-shadow-2: 0 2px 4px rgba(9, 9, 11, 0.1), 0 12px 32px rgba(9, 9, 11, 0.05);
}
